<a href="https://colab.research.google.com/github/Anandgnamboothiri/Data-Preprocessing-for-machine-learning-practice-/blob/main/DATA_CLEANING_STUDIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install opendatasets

In [21]:
import opendatasets as od
import pandas as pd
od.download('https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata')

Skipping, found downloaded files in "./airbnbopendata" (use force=True to force download)

In [ ]:
df = pd.read_csv('/content/airbnbopendata/Airbnb_Open_Data.csv')
data = pd.DataFrame(df)
data.head()

In [ ]:
data.info()

In [ ]:
#to know the number of columns of the data and know thier names in large datasets
data.columns

**The main steps to follow when we get a data set**
1. Deleting unwanted columns firstly after identyfing it using info() method
2. Renaming the columns if needed
3. Droping Duplicates
4. cleaning individual columns
5. Removing NAN values from the datasets
6. cheacking for other transformation like normalization and encoding the catogarical datas

**Deleting unwanted columns**

In [ ]:
data.info()

In [ ]:
data.columns

In [38]:
# removing the columns having high missing values
data_drop = [ 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license','id']
data.drop(data_drop, axis=True,inplace=True )

In [ ]:
print(data.shape)
data.columns

**Renaming the columns if needed **

In [ ]:
all_columns = data.columns
renamed_columns = []
for i in all_columns:
  renamed_columns.append(i.lower())
renamed_columns

In [ ]:
data.columns = renamed_columns
data.columns

**Checking the Duplicates and removing it.....**

In [ ]:
data.duplicated()

In [32]:
data.duplicated().sum()

np.int64(541)

In [33]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

np.int64(0)

**Removing the NaN values from the dataset**

In [ ]:
data.isnull().sum()

In [ ]:
data.isnull()#isna

In [ ]:
data.isna().sum()

In [ ]:
data.isna()

In [ ]:
data.dropna(inplace=True)

In [ ]:
print(data.isna().sum())